* {
    overflow-anchor: none !important;
    scroll-snap-stop: normal !important;
    overscroll-behavior: unset !important;
    scroll-behavior: unset !important;
}

.container, header, footer, .container-fluid, body, div, span, section {
    overflow-anchor: none !important;
    scroll-snap-stop: normal !important;
    overscroll-behavior: unset !important;
    scroll-behavior: unset !important;
}

#cart-container {
    background-color: white;
    margin-top: 100px;
    max-width: 94%;
}

#cart-title {
    margin-top: 30px;
    margin-left: 10px;
    font-family: "JetBrains Mono", monospace;
    font-size: 50px;
    color: rgb(0, 117, 0);
}

#cart-prodq {
    margin-top: 45px;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#product-list {
    max-width: calc(94%/2);
    background-color: rgb(242, 242, 242);
    border-left: 20px solid white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
}


#product-summary {
    max-width: calc(94%/2);
    border-left: 60px solid white;
    border-right: 20px solid white;
    background-color: rgb(242, 242, 242);
    border-bottom: 50px solid white;
    max-height: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.10);
}

#title-col {
    border-bottom: 1px solid rgb(235, 235, 235);
}


#summary-title {
    margin-left: 20px;
    margin-top: 5%;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 117, 0);
}

#summary-sep {
    color: rgb(163, 163, 163);
}

#product-qtitle, #discount-title, #tproduct-title, #tship-title{
    margin-left: 20px;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(103, 63, 141);
}

#product-qvalue, #discount-value, #tproduct-value, #tship-value {
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(49, 49, 49);
}

#promocode-send {
    background-color: none;
    color: rgb(63, 185, 63);
    border: 1px solid rgb(63, 185, 63);
    border-radius: 4px;
    width: 50%;
    margin-top: 10%;
    transition: 0.3s;
    margin-left: 20px;
}

#promocode-send:hover {
    background-color: rgb(63, 185, 63);
    color: white;
    
}

#promocode-input {
    background-color: rgb(216, 216, 216);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    margin-left: 20px;
}


#promocode-form {
    margin-top: 2%;
}

#proceed-btn {
    margin-left: 7%;
    margin-top: 50px;
    max-width: 90%;
    height: 50px;
    background-color: rgb(63, 185, 63);
    color: white;
    border: 1px solid rgb(63, 185, 63);
    border-radius: 4px;
    transition: 0.3s;
}

#proceed-btn:hover {
    background-color: rgb(51, 143, 51);
    border-color: rgb(51, 143, 51)
}

#proceed-btn:active {
    background-color: rgb(63, 185, 63);
    border-color: rgb(63, 185, 63);
}


/*PRODUCTOS*/

#no-items h2 {
    color: rgb(41, 41, 41);
}

#product-list {
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
}

.product-item {
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

.product-item-image {
    margin-left: -12px;
    max-height: 141px;
    width: auto;
}

.product-item-brand {
    font-size: 25px;
    color: rgb(1, 58, 2);
}

.product-item-name {
    max-width: 50% !important;
}

.product-item-delete {
    text-decoration: underline;
    color:rgb(0, 159, 0);
}

.product-item-delete:active {
    color: rgb(0, 79, 0);
}

.product-quantity-select{
    border: none;
    background-color: rgb(241, 240, 240);
    color: rgb(53, 53, 53);
    font-size: 20px;
}

.product-quantity-select:focus {
    outline: none;
}

.product-price {
    text-align: right;
}

/*Más productos*/

#more-products-container {
    margin-top: 60px;
    max-width: 94%;
}

#more-products-title {
    color: rgb(0, 78, 0);
    font-family: "JetBrains Mono", monospace;
    font-size: 30px;
    text-align: center;
}

.product-more {
    background-color: white;
    outline: 5px solid rgb(232, 232, 232);
}

.product-more img {
    width: 8vw;
    height: auto;
}

.more-products-brand {
    font-size: 25px;
    color: rgb(1, 58, 2);
}

.more-products-name {
    color: rgb(30, 30, 30);
    margin-bottom: 100px;
}

.more-products-price {
    font-size: 20px;
}


/*Botón lindo*/
.cart-button {
    position: relative;
    padding: 10px;
	width: 150px;
	height: 60px;
	border: 0;
	border-radius: 10px;
	background-color: #48c158;
	outline: none;
	cursor: pointer;
	color: #fff;
	transition: .3s ease-in-out;
	overflow: hidden;
    bottom: 15px;
    overflow-anchor: none;
}

.cart-button:hover {
	background-color: #278334;
}

.cart-button:active {
	transform: scale(.95);
}

.cart-button .bi-cart-fill {
	position: absolute;
    z-index: 3;
	top: 50%;
	left: 60%;
	transform: translate(67px,-50%);
    font-size: 2.5em;
}

.cart-button .bi-box-seam-fill {
	position: absolute;
    z-index: 3;
	top: -20%; /*39%*/
	left: 50%;
	transform: translate(-50%,-50%);
    font-size: 1.4em;
}

.cart-button span {
    display: absolute;
    z-index: 3;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cart-button span.add-to-cart {
    font-size: 18px;
    position: absolute;
    opacity: 1;
}

.cart-button span.added-to-cart {
    font-size: 18px;
    position: absolute;
    opacity: 0;
}

.cart-button.clicked .bi-cart-fill {
    animation: cart 1.7s ease-in-out forwards;
}

.cart-button.clicked .bi-box-seam-fill {
    animation: box 1.68s ease-in-out forwards;
}

.cart-button.clicked span.add-to-cart {
    animation: add 1.7s ease-in-out forwards;
}

.cart-button.clicked span.added-to-cart {
    animation: added 1.7s ease-in-out forwards;
}

@keyframes box {
    0%, 40% {
        top: -20%;
    }
    60%{
        top: 39%;
        left: 50%;
    }
    100% {
        top: 39%;
        left: 112%;
    }
}

@keyframes cart {
    0%, 40% {
        left: -100%;
    }
    40%, 60% {
        left: -9%;
    }
    100% {
        left: 60%;
    }
}

@keyframes add {
    0% {
        opacity: 1;
    }
    20%, 100% {
        opacity: 0;
    }
}

@keyframes added {
    0%, 80%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.clicked {
    cursor: default !important;
}
.clicked:active {
    transform: none !important;
}
.clicked:hover {
    background-color: #48c158;
}


.exists {
    cursor: default !important;
}

.exists:active {
    transform: none !important;
}

.exists:hover {
    background-color: #48c158;
}

.exists span.add-to-cart{
    display: none !important;
}

.exists span.added-to-cart{
    opacity: 1;
}

#cancel-btn, #confirm-btn {
    font-size: 30px;
}
.modal-dialog {
    margin-right: 40vw !important;
}

.modal-title {
    font-size: 60px;
}

.modal-body {
    font-size: 30px;
}