#cart-container {
    background-color: white;
    margin-top: 100px;
    max-width: 94%;
}

#cart-title {
    margin-top: 30px;
    margin-left: 10px;
    font-family: "JetBrains Mono", monospace;
    font-size: 50px;
    color: rgb(0, 117, 0);
}

#cart-prodq {
    margin-top: 45px;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#product-list {
    max-width: calc(94%/2);
    background-color: rgb(242, 242, 242);
    border-left: 20px solid white;
}

#product-summary {
    max-width: calc(94%/2);
    border-left: 60px solid white;
    border-right: 20px solid white;
    background-color: rgb(242, 242, 242);
    border-bottom: 50px solid white;
    max-height: 50%;
}


#summary-title {
    margin-left: 20px;
    margin-top: 5%;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 117, 0);
}

#summary-sep {
    color: rgb(163, 163, 163);
}

#product-qtitle, #discount-title, #tproduct-title{
    margin-left: 20px;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(103, 63, 141);
}

#product-qvalue, #discount-value, #tproduct-value {
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(49, 49, 49);
}

#promocode-send {
    background-color: none;
    color: rgb(63, 185, 63);
    border: 1px solid rgb(63, 185, 63);
    border-radius: 4px;
    width: 50%;
    margin-top: 10%;
    transition: 0.3s;
    margin-left: 20px;
}

#promocode-send:hover {
    background-color: rgb(63, 185, 63);
    color: white;
    
}

#promocode-input {
    background-color: rgb(216, 216, 216);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    margin-left: 20px;
}


#promocode-form {
    margin-top: 2%;
}

#proceed-btn {
    margin-left: 7%;
    margin-top: 50px;
    max-width: 90%;
    height: 50px;
    background-color: rgb(63, 185, 63);
    color: white;
    border: 1px solid rgb(63, 185, 63);
    border-radius: 4px;
    transition: 0.3s;
}

#proceed-btn:hover {
    background-color: rgb(51, 143, 51);
    border-color: rgb(51, 143, 51)
}

#proceed-btn:active {
    background-color: rgb(63, 185, 63);
    border-color: rgb(63, 185, 63);
}



/*PRODUCTOS*/

#no-items h2 {
    color: rgb(41, 41, 41);
}

#product-list {
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
}

.product-item {
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

.product-item-image {
    margin-left: -12px;
    max-height: 141px;
    width: auto;
}

.product-item-brand {
    font-size: 25px;
    color: rgb(1, 58, 2);
}

.product-item-name {
    max-width: 50% !important;
}

.product-item-delete {
    text-decoration: underline;
    color:rgb(0, 159, 0);
}

.product-item-delete:active {
    color: rgb(0, 79, 0);
}

.product-quantity-select{
    border: none;
    background-color: rgb(241, 240, 240);
    color: rgb(53, 53, 53);
    font-size: 20px;
}

.product-quantity-select:focus {
    outline: none;
}

.product-price {
    text-align: right;
}



