

.names-data {
    width: 400px !important;
}

#commentid {
    resize: none;
}

#contact-form input{
    background-color: rgb(155, 155, 155);
}

#contact-title {
    margin-top: 50px;
    font-family: "JetBrains Mono", monospace;
    font-size: 30px;
    color: rgb(6, 58, 0);
}

#contact-sub {
    font-size: 20px;
    margin-bottom: 100px;
    color: rgb(42, 42, 42);
}

#contact-form-container {
    background-color: white;
}

#contact-image {
    max-height: 500px;
    width: auto;
    padding-top: 10px;
}

@media (min-width: 3000px){
    #contact-title {
        font-size: 80px;
    }
    #contact-sub {
        font-size: 35px;
        margin-left: 30%;
    }
    #contact-image {
        max-height: 900px;
        width: auto;
    }
}