.navbar-brand img {
    max-height: 90px;
}

.navbar {
    background-color: #0e0e0e;
}

.main {
    background-color: #141414;
    color: whitesmoke;
}

.nav-ico i{
    color: whitesmoke;
}

.nav-ico:hover i{
    color: #67ff59;
}