#pharmacy-list-container {
    background-color: white;
    box-shadow: 10px 10px 10px -9px rgba(0,0,0,0.40);
    margin-top: 100px;
    max-width: 60%;
    min-width: 60%;
    min-height: 1300px;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

#pharmacy-title h1{
    margin-top: 50px;
    font-family: "JetBrains Mono", monospace;
    font-size: 60px;
    color: rgb(6, 58, 0);
}

#pharmacy-desc p, a{
    font-size: 27px;
    color: rgb(34, 34, 34);
}

#pharmacy-list {
    background-color: rgb(238, 238, 238);
    overflow-y: scroll;
    max-height: 1050px;
}

.pharmacy-image {
    max-width: 185px;
}

#filter-select {
    background-color: rgb(206, 206, 206);
    border: 5px solid rgb(206, 206, 206);
    border-radius: 5px;
    width: 50%;
}

#list-filters {
    font-size: 27px;
}



/*LISTA*/

.pharmacy-item {
    background-color: rgb(238, 238, 238);
    border: 4px solid white;
    border-bottom: 6px solid white;
}

.pharmacy-name {
    margin-bottom: 90px;
    font-size: 40px;
    color: rgb(37, 37, 37);
}

.pharmacy-loc {
    color: rgb(0, 65, 0);
}

.pharmacy-number-title {
    color: rgb(32, 32, 32);
    font-size: 25px;
}

.pharmacy-number {
    font-size: 20px;
}

.pharmacy-hour-title {
    color: rgb(32, 32, 32);
    font-size: 27px;
}

.pharmacy-hour {
    font-size: 20px;
}

