#login-form-container {
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: white;
    box-shadow: 10px 10px 10px -9px rgba(0,0,0,0.40);
    max-width: 42%;
    min-width: 10%;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

#login-title {
    font-size: 90px;
    margin-top: 40px;
    margin-bottom: 80px;
    font-family: "Jetbrains mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: rgb(30, 70, 19);
}

#email-input, #password-input, #repeat-password-input {
    width: 70%;
    height: 60px;
    font-size: 25px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(32, 32, 32);
}

#email-input:focus, #password-input:focus, #repeat-password-input:focus {
    outline: none;
}

.error-msg {
    color: red;
    position: absolute;
    opacity: 0;
}

#forgot-password {
    margin-bottom: 40px;
    margin-top: 20px;
}

#email-input-label, #password-input-label, #repeat-password-input-label {
    margin-left: 28%;
    font-size: 30px;
}

#password-input-label, #repeat-password-input-label{
    margin-top: 20px;
}

#forgot-password {
    margin-left: 14%;
    font-size: 30px;
    margin-bottom: 200px;
}

#login-submit {
    width: 30%;
    height: 60px;
    border: 1px solid rgb(72, 149, 56);
    background-color: rgb(72, 149, 56);
    border-radius: 5px;
    color: white;
    transition: 0.4s;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
}

#login-submit:hover {
    background-color: rgb(59, 97, 52);
    border: 1px solid rgb(59, 97, 52);
}

#login-submit:active {
    background-color: rgb(108, 186, 92);
    border: 1px solid rgb(108, 186, 92);
}

#no-acc {
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 20px;
}